@import './layout/nav',
        './layout/footer',
        './layout/fonts.scss'
        
        
        
        
        
        ;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MontserratAlternates";
    list-style: none;
    text-decoration: none;
}
body{
    background: #ffff;
}
body::-webkit-scrollbar{
    background: #ffff;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background:  #BD7048;
    border-radius: 15px;
    
}

.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}